
:root {
    --input-border: #e3dfdf;
    --loading: #206bc4;
    --bg-item: #f6f8fb;
    --bg-descriptions: #eef3f6
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
* {
    box-sizing: border-box;
}
html,
body {

    margin: 0;
    padding: 0;
}
.nkd-container {
    padding: 10px;
}
.nkd-media-container {
    height: calc(100vh - 8rem);
    position: relative;
    background: white;
    overflow: hidden;
}


.nkd-media-main .nkd-media-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    height: 200px;
}

.nkd-media-main .media-details {
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    transition: all .3s ease-in-out;
    min-width: 250px;
    width: 250px;
    height: 100%;
    border-left: 1px solid var(--input-border);
}
.nkd-media-main .media-details img {
    max-height: 100%;
    max-width: 90%;
    object-fit: contain;
}
.nkd-media-main .media-thumbnail {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--input-border);
}

.nkd-media-main .media-description {
    padding: 10px;
    position: relative;
    width: 100%;
}

.nkd-media-main .media-thumbnail:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.nkd-media-main .media-thumbnail img,
.nkd-media-main .media-thumbnail svg,
.nkd-media-main .item-media-thumbnail img {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.nkd-media-main .media-thumbnail svg {
    height: 6rem;
    width: 6rem;
}

#status_processing {
    background-color: #00000040;
    bottom: 0;
    height: 100% !important;
    left: 0 !important;
    margin-inline-start: unset !important;
    margin-top: unset !important;
    position: absolute;
    right: 0;
    border: unset;
    top: 0 !important;
    width: 100% !important;
    z-index: 1
}

#status_processing > div {
    display: none
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#status_processing:after {
    animation: loading-spinner .9s linear infinite;
    border: 3px solid;
    border-color: var(--loading) transparent var(--loading) transparent;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 40px;
    inset-inline-end: 50%;
    position: absolute;
    top: 50%;
    width: 40px
}

#status_processing {
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
}

#status_processing > div:last-child {
    position: relative;
    width: 80px;
    height: 15px;
    margin: 1em auto
}

#status_processing > div:last-child > div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(13, 110, 253);
    background: rgb(var(--loading));
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

#status_processing > div:last-child > div:nth-child(1) {
    left: 8px;
    animation: datatables-loader-1 .6s infinite
}

#status_processing > div:last-child > div:nth-child(2) {
    left: 8px;
    animation: datatables-loader-2 .6s infinite
}

#status_processing > div:last-child > div:nth-child(3) {
    left: 32px;
    animation: datatables-loader-2 .6s infinite
}

#status_processing > div:last-child > div:nth-child(4) {
    left: 56px;
    animation: datatables-loader-3 .6s infinite
}

@keyframes datatables-loader-2 {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(24px, 0)
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.media-grid {
    padding: 15px 0;
}

.media-grid li {
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 16.6666666667%;
}

.media-grid li .media-item {
    cursor: pointer;
    position: relative;
    transition: all .1s ease-in-out;
    background-color: var(--bg-item);
    overflow: hidden;
}

.item-media-thumbnail {
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}

.media-grid li .item-media-thumbnail {
    border-bottom: 0;
}

.item-media-thumbnail:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.media-grid .item-media-thumbnail svg {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.media-grid li .item-media-description {
    background-color: var(--bg-descriptions);
    padding: 8px 10px;
    text-align: center;
    transition: all .1s ease-in-out;
}

.media-grid li .item-media-description .title {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.media-grid li .media-item .item-media-item-selected {
    background: #007bff;
    border-radius: 50% !important;
    display: none;
    height: 24px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 24px;
    z-index: 20;
}

.item-media-item-selected svg {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: white;
    fill: white;
}

.media-grid li .media-item:after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.media-grid li input[type=checkbox]:checked + .media-item .item-media-item-selected {
    display: block;
}

.media-grid li input[type="checkbox"]:checked + .media-item {
    border: 1px solid #007bff;
}

.media-breadcrumb .breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}

.media-breadcrumb .breadcrumb a {
    color: #206bc4;
}

.media-breadcrumb .breadcrumb li:not(:nth-child(1)) a {
    color: #959FAF;
}

[data-breadcrumbs-count="1"] .js-up-one-level {
    display: none;
}

.media-breadcrumb svg {
    stroke-width: 1.5;
    font-size: 1.25rem;
    height: 1.25rem;
    vertical-align: bottom;
    width: 1.25rem;
}

.nkd-media-tools .nkd-dropdown-toggle {
    border-color: #A2A6AC;
    margin-right: 5px;
}



.nkd-media-container {
    border: 1px solid rgba(4, 32, 69, .1);;
}

.nkd-media-main {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nkd-card-header {
    align-items: center;
    background: transparent;
    color: inherit;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    flex-direction: column;
    border-bottom: 1px solid rgba(4, 32, 69, .1);
}

.nkd-card-header:first-child {
    border-radius: 4px 4px 0 0;
}

.nkd-w-100 {
    width: 100%;
}

.nkd-header-flex {
    display: flex;
    border-bottom: 1px solid #dce1e7;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: .5rem !important;
    gap: 1rem !important;
    background-color: #F1F3F6
}

.nkd-media-actions {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: auto;
}

.nkd-btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.nkd-dropdown {
    position: relative;
}

.nkd-btn {
    align-items: center;
    background: var(--loading);
    border: 1px solid var(--loading);
    border-radius: 4px;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.nkd-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
    vertical-align: bottom;
    stroke-width: 1.5;
}

.nkd-media-search {
    width: auto;
}

.nkd-input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(24, 36, 51, 0.06);
}

.nkd-form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dce1e7;;
    border-radius: 4px;
    color: #182433;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    padding: .5625rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.nkd-input-group .nkd-form-control {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.nkd-form-control:focus {
    outline: none;
    box-shadow: none;
}

.nkd-input-group .nkd-btn {
    position: relative;
    z-index: 2;
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
    border-color: var(--input-border);
    border-left: none;
    color: black;
}

.nkd-header-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 0;
    gap: 1rem;
}

.nkd-media-breadcrumb {
    display: flex;
    align-items: center;
    width: auto;
    flex-grow: 1;
}

.nkd-media-tools {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
}

.nkd-dropdown .nkd-btn {
    background: transparent;
    color: black;
    border-color: var(--input-border);
}

.nkd-dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0;
    right: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    margin-top: 5px;

}
.nkd-media-actions .nkd-dropdown-menu {
    right: unset;
    left: 0;
}
.nkd-dropdown-menu.show {
    display: block;
}

.nkd-dropdown-item {
    background-color: transparent;
    border: 0;
    clear: both;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    line-height: 1.4285714286;
    margin: 0;
    min-width: 11rem;
}

.nkd-dropdown-item:hover {
    background: var(--input-border);
}

.nkd-dropdown-item.active {
    color: var(--loading);
}
.nkd-media-breadcrumb .breadcrumb {
    list-style: none;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
    padding-left: 0;
}
.nkd-media-breadcrumb .breadcrumb li{
    display: inline-block;
}
.nkd-media-breadcrumb .breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.nkd-media-breadcrumb .breadcrumb a {
    color: #206bc4;
}

.nkd-media-breadcrumb .breadcrumb li:not(:nth-child(1)) a {
    color: #959FAF;
}

[data-breadcrumbs-count="1"] .js-up-one-level {
    display: none;
}

.nkd-media-breadcrumb svg {
    stroke-width: 1.5;
    font-size: 1.25rem;
    height: 1.25rem;
    vertical-align: bottom;
    width: 1.25rem;
}

.nkd-disabled {
    color: #B7BABF !important;
    box-shadow: none;
    pointer-events: none;
}
.nkd-list-unstyled {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.item-media-thumbnail img {
    max-height: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    object-fit: cover;
    vertical-align: middle;
}
.column-item-grid,
.column-thumbnail{
    align-items: stretch;
    display: flex;
    overflow: auto;
    position: relative;
    padding: 0;
}
.column-item-grid {
    flex-direction: column;
    flex-grow: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.nkd-form-label {
    display: block;
    font-weight: 600;
    font-size: .875rem;
    margin-bottom: .5rem;
}
.nkd-mb-3 {
    margin-bottom: 1rem !important;
}
.nkd-icon-clipboard {
    margin-right: 0 !important;
}
.nkd-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.nkd-fade {
    transition: opacity .15s linear
}

@media (prefers-reduced-motion:reduce) {
    .nkd-fade {
        transition: none
    }
}

.nkd-fade:not(.show) {
    opacity: 0
}

.nkd-modal-dialog {
    max-width:500px;
    margin: 1.75rem auto;
    display: flex;
    align-items: center;
}

.nkd-modal-dialog-scrollable {
    height: calc(100% - 3.5rem)
}

.nkd-modal-dialog-centered {
    min-height: calc(100% - 3.5rem)
}
.nkd-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.nkd-modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.nkd-modal-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.5;
    margin-top: 0;
}

.nkd-btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5
}

.nkd-btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.nkd-btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    opacity: 1
}

.nkd-btn-close.disabled,.nkd-btn-close:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: .25
}
.nkd-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.nkd-position-relative {
    position: relative;
}
.nkd-btn-primary {
    color: #fff !important;
    background-color: var(--loading) !important;
    border-color: var(--loading) !important;
}
.nkd-btn-outline-primary {
    border-color: var(--loading) !important;
    background: white !important;
    color:var(--loading) !important;
}
.nkd-modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.nkd-modal-footer>* {
    margin: .25rem;
}
.nkd-btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.nkd-text-decoration-none {
    text-decoration: none;
}
.nkd-modal-blur {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.nkd-modal.show {
    display: block;
}
.nkd-card-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
